body,
h1,
h2,
h3,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
